/* David Puente Jr

  7/12/2023, CIS133DA
    
  Project 1 : Survey Page */
  
  
  body {
    background-image: url(https://wallpapertag.com/wallpaper/middle/a/a/4/955252-new-paw-prints-wallpaper-2048x1152.jpg);
    background-color: tan;
    text-align: center;
    background-size: cover;
   } 
   /* Made my colors brown and tan to match the rest of the background */
  form {
    max-width: 500px;
    text-align: left;
    padding: 20px;
    border: 2px solid brown;
    border-radius: 12px;
    margin: auto;
    background-color: tan;
  }
  input {
    padding: 6px;
    border: none;
    border-radius: 6px;
  }
  .input-element {
    margin: 12px;
    display: flex;
    flex-direction: column;
  }
  select {
    padding: 6px;
    border: none;
    border-radius: 6px; 
  }
  input[type="checkbox"] {
    width: 17px;
    height: 17px;
  }
  /* Changed border color to fieldset to match form border */
  fieldset {
    border-color: brown;
  }
 /* Changed my cursor to puppy */
 /* Start https://www.cursors-4u.com */ *
 {cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur113.cur), auto !important;} 
 /* End https://www.cursors-4u.com */